<html>
    <head>
        <title>
            Log In
        </title>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
<body>

    <h1>Login Page</h1>
    <form aciton="/login" method="POST">
        <div class="container">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>