<html>
    <head>
        <title>
            Log In
        </title>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
<body>

    <h1>Registration Page</h1>
    <form aciton="/login" method="POST">
        <div class="container">
            <input type="text" name="username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <%if(chk==1){%>
    <script>
        alert("Username Already Registered");
    </script>
    <%}%>
</body>
</html>